.card {
    margin: 20px;
    width: 500px;
    height:fit-content;
    background-color: white;
    border-style: double;
    border-color:  rgb(229, 143, 157)
  }
  
  

  a{
    text-decoration: none !important;
  }
  .card-title {
    margin-top: 10px;
    text-align: center;
    text-decoration: none !important;
    font-family:  'Montserrat', sans-serif;
    font-size:50px;
    color: black;
 }
  
  .card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px !important;
    padding-top: 0px !important;
    font-family:  'Montserrat', sans-serif;
    color: black;
    font-size: 40px;
    text-decoration: none;
  }
  .image{
    margin: 10px;
    padding: 10px;
  }
  .temperaments{
    width: 120px;
    height:fit-content;
    font-size: 15px;
    border-style:dotted;
    border-color:  black;
    margin-top: 13px;
    margin-right: 20px;
  }