body{
   /*  overflow-y: hidden ! important;
    overflow-x: hidden ! important; */
    background-color: #f8f8f8;
   /*  background-image: url('https://cdn.pixabay.com/photo/2016/04/25/20/55/colorful-1353143_960_720.png');
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:100% */
      } 
  
    /* background: #eacda3;  /* 
    background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);  
    background: linear-gradient(to right, #d6ae7b, #eacda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    .all{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    } 
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;    
        margin-top: 0px;
    }
    
    #searchbar{
        margin-top: 50px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: all 1s;
        width: 50px;
        height: 50px;
        background: white;
        box-sizing: border-box;
        border-radius: 25px;
        border: 2px solid rgb(229, 143, 157);
        padding: 5px;
    }
    
    .barra{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;;
        height: 42.5px;
        line-height: 30px;
        outline: 0;
        border: 0;
        display: none;
        font-size: 1em;
        border-radius: 20px;
        padding: 0 20px;
    }
    
    .fa{
        box-sizing: border-box;
        padding: 10px;
        width: 42.5px;
        height: 42.5px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        color: black;
        text-align: center;
        font-size: 1.2em;
        transition: all 1s;
    }
    
    #searchbar:hover{
        width: 400px;
        cursor: pointer;
    }
    
    #searchbar:hover input{
        display: block;
    }
    
    #searchbar:hover .fa{
        background: black;
        color: white;
    }
.search{
    font-family:  'Montserrat', sans-serif;
    border-radius: 15px;
    height: 30px;
    width:250px;
    border-color: black;
    border-width: 2px;
    margin-top:10px ;
}

.searchDiv{
    display: flex;
    justify-content: center;
}
#myVsApi{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
}
/* #buttonstop{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0px;
    margin-left: 20px;
    padding: 15px
} */

#buttons{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0px;
    margin-left: 20px;
    padding: 15px
} 
.sorting{
    font-family: 'Montserrat', sans-serif;
    color: grey;
    background-color:white;
    border-radius: 15px;
    font-size: 30px;
    margin-top:10px; 
    text-decoration: none;
    padding: 5px;
    border: solid 1px;
    border-color: black;
    width: 300px;
}
#sortby{
    font-family: 'Montserrat', sans-serif;
    color: grey;
    font-size: 50px;
    margin-left: 70px;
}
.divtemperaments{
    display: flex;
    justify-content: flex-end;
}
.temperamentsfil{
    font-family: 'Montserrat', sans-serif;
    color: grey;
    border-radius: 15px;
    font-size: 30px;
    margin-top:20px; 
    text-decoration: none;
    padding: 5px;
    border-color: black;
    width: 370px;
    margin-right: 30px;
}
.nBottons{
    display: flex;
    flex-direction: row;
}

.sorting:hover {background-color: blanchedalmond;}

.sorting:active {
    background-color: blanchedalmond;
      box-shadow: 0 3px rgb(180, 178, 178);
  transform: translateY(4px);
}

.paginationButtons{
    width:80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6%;
}
.paginationButtons a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid  rgb(229, 143, 157);
    font-family: 'Montserrat', sans-serif;
    color: grey;
    cursor: pointer
}
.paginationButtons a:hover{
    background-color: blanchedalmond;
}
.paginationActive a{
    background-color: blanchedalmond;
}