body{
   /*  overflow-y: hidden ! important;
    overflow-x: hidden ! important; */
    background-color: #f8f8f8;
   /*  background-image: url('https://cdn.pixabay.com/photo/2016/04/25/20/55/colorful-1353143_960_720.png');
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:100% */
      } 
  
    /* background: #eacda3;  /* 
    background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);  
    background: linear-gradient(to right, #d6ae7b, #eacda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
 
    
    form{
        margin-top: 0px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: all 1s;
        width: 50px;
        height: 50px;
        background: white;
        box-sizing: border-box;
        border-radius: 25px;
        border: 4px solid black;
        padding: 5px;
    }
    
    input{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;;
        height: 42.5px;
        line-height: 30px;
        outline: 0;
        border: 0;
        display: none;
        font-size: 1em;
        border-radius: 20px;
        padding: 0 20px;
    }
    
    .fa{
        box-sizing: border-box;
        padding: 10px;
        width: 42.5px;
        height: 42.5px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        color: black;
        text-align: center;
        font-size: 1.2em;
        transition: all 1s;
    }
    
    form:hover{
        width: 400px;
        cursor: pointer;
    }
    
    form:hover input{
        display: block;
    }
    
    form:hover .fa{
        background: black;
        color: white;
    }
.search{
    font-family:  'Montserrat', sans-serif;
    border-radius: 15px;
    height: 30px;
    width:250px;
    border-color: black;
    border-width: 2px;
    margin-top:10px ;
}

.searchDiv{
    display: flex;
    justify-content: center;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 0px;
    margin-left: 20px;
    padding: 15px
}
.sorting{
    font-family: 'Montserrat', sans-serif;
    color: grey;
    background-color:white;
    border-radius: 15px;
    font-size: 30px;
    margin-top:10px; 
    text-decoration: none;
    padding: 5px;
    border-color: black;
    width: 300px;
}
#sortby{
    font-family: 'Montserrat', sans-serif;
    color: grey;
    font-size: 50px;
    margin-left: 70px;
}
.divtemperaments{
    display: flex;
    justify-content: flex-end;
}
.temperaments{
    font-family: 'Montserrat', sans-serif;
    color: grey;
    background-color:white;
    border-radius: 15px;
    font-size: 30px;
    margin-top:20px; 
    text-decoration: none;
    padding: 5px;
    border-color: black;
    width: 350px;
    margin-right: 50px;
}