.labels{
    font-family:  'Montserrat', sans-serif;
}
.allLabels{
    margin-top: 80px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: double;
    padding: 20px;
    border-color: rgb(229, 143, 157);
    width: 500px;
    height: 400px;
    margin-left: 400px;
}
.allInputs{
font-family: 'Montserrat', sans-serif;
color: grey;
font-weight: 500;
background-color:white;
border-radius: 15px;
font-size: 30px;
margin-top:10px; 
text-decoration: none;
padding: 5px;
border-color: black;
width: 200px;
height: 20px;
}

.addtemp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.addtemperaments{
    font-family: 'Montserrat', sans-serif;
    color: grey;
    border-radius: 15px;
    font-size: 15px;
    margin-top:20px; 
    text-decoration: none;
    padding: 5px;
    border-color: black;
    width: 100;
    margin-right: 30px;
}
#title{
    font-family: 'Montserrat', sans-serif;
    color: black;
    list-style-type: none;
}
.addButton{
    font-family: 'Montserrat', sans-serif;
    color: grey;
    background-color:white;
    border-radius: 15px;
    font-size: 30px;
    margin-top:10px; 
    text-decoration: none;
    padding: 5px;
    border: solid 1px;
    border-color: black;
    width: 300px;
}

.addButton:hover {background-color: blanchedalmond;}

.addButton:active {
    background-color: blanchedalmond;
      box-shadow: 0 3px rgb(180, 178, 178);
  transform: translateY(4px);
}
