 #cardContainer{
   display: flex;
   justify-content: center;
margin-top: 80px;
 }
 .info {
    margin: 20px;
    width: 500px;
    height:fit-content;
    background-color: blanchedalmond;
        border-style: double;
    border-color:  rgb(229, 143, 157);
    
  } 
  
  


  .card-title {
    margin-top: 10px;
    text-align: center;
    text-decoration: none !important;
    font-family:  'Montserrat', sans-serif;
    font-size:50px;
    color: black;
  }
  
  .details {
   
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding: 10px;
    font-family:  'Montserrat', sans-serif;
    color: black;
    font-size: 20px;
    text-decoration: none;
    text-align:left;
   
  }
 #image{
   padding:10px;
   margin-left: 80px;
 }
