.navbar{
    background-color: white;
    height: 100px;
    border-bottom-style: double;
    border-bottom-color: rgb(229, 143, 157);
}
.list{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.list-item{
    font-family:  'Montserrat', sans-serif;
    color: grey;
    background-color: white;
    border-radius: 15px;
    font-size: 50px;
    margin-top:10px; 
    text-decoration: none;
    padding: 5px;
    border: 2px solid black;
}